# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:

import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_path = ("/content/drive/MyDrive/Colab Notebooks/Datasets/dataset_part2.csv")
df = pd.read_csv(df_path)
df

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,MDA,True,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SES,True,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,12,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,13,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,12,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,True,12,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,True,8,B1062,-80.577366,28.561857,1

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'MarcoPCC'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@52.47.172.110/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().

In [ ]:
df = df.to_sql('SPACEXTBL', con=engine)

In [ ]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
query = "SELECT DISTINCT LaunchSite FROM SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
query = "SELECT * FROM SPACEXTBL WHERE LaunchSite LIKE 'CCS%' LIMIT 5;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = "SELECT SUM(PayloadMass) FROM SPACEXTBL WHERE Customers LIKE 'NASA (CRS)';"
df  = pd.read_sql(query, con = engine )
df

   SUM(PayloadMass)
0           47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = "SELECT AVG(PayloadMass) FROM SPACEXTBL WHERE Serial LIKE'B1%' ;"
df  = pd.read_sql(query, con = engine )
df

   AVG(PayloadMass)
0       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = "SELECT MIN(Date) FROM SPACEXTBL WHERE LandingOutcome = 'TRUE RTLS' ;"
df  = pd.read_sql(query, con = engine )
df

    MIN(Date)
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = "SELECT Serial FROM SPACEXTBL WHERE LandingOutcome LIKE 'TRUE ASDS' AND PayloadMass BETWEEN 4000 AND 6000 ;"
df  = pd.read_sql(query, con = engine )
df

  Serial
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1046
6  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = "SELECT COUNT(Class) FROM SPACEXTBL GROUP BY Class  ;"
df  = pd.read_sql(query, con = engine )
df

   COUNT(Class)
0            30
1            60

In [ ]:
query = "SELECT COUNT(*) FROM SPACEXTBL GROUP BY Mission_Outcome  ;"
df  = pd.read_sql(query, con = engine )
df

   COUNT(*)
0         2
1        88

In [ ]:
query = "SELECT COUNT(CASE WHEN Class = 0 THEN 1 END) AS FAIL, COUNT(CASE WHEN Class = 1 THEN 1 END) AS PASS  FROM SPACEXTBL  ;"
df  = pd.read_sql(query, con = engine )
df

   FAIL  PASS
0    30    60

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = "SELECT Serial, MAX(PayloadMass)  FROM SPACEXTBL GROUP BY 1 ;"
df  = pd.read_sql(query, con = engine )
df

   Serial  MAX(PayloadMass)
0   B0003       6123.547647
1   B0005        525.000000
2   B0007        677.000000
3   B1003        500.000000
4   B1004       3170.000000
5   B1005       3325.000000
6   B1006       2296.000000
7   B1007       1316.000000
8   B1008       4535.000000
9   B1010       2216.000000
10  B1011       4428.000000
11  B1012       2395.000000
12  B1013        570.000000
13  B1015       1898.000000
14  B1016       4707.000000
15  B1017        553.000000
16  B1018       2477.000000
17  B1019       2034.000000
18  B1020       5271.000000
19  B1021       5300.000000
20  B1022       4696.000000
21  B1023       3100.000000
22  B1025       2257.000000
23  B1026       4600.000000
24  B1028       5500.000000
25  B1029       9600.000000
26  B1030       5600.000000
27  B1031       5200.000000
28  B1032       6123.547647
29  B1034       6070.000000
30  B1035       2708.000000
31  B1036       9600.000000
32  B1037       6761.000000
33  B1038        475.000000
34  B1039       2910.000000
35  B1040       5383.850000
36  B1041       9600.000000
37  B1042       3700.000000
38  B1043       6123.547647
39  B1044       6092.000000
40  B1045       2410.000000
41  B1046       6123.547647
42  B1047       7076.000000
43  B1048      15600.000000
44  B1049      15600.000000
45  B1050       2573.000000
46  B1051      15600.000000
47  B1054       4400.000000
48  B1056      15600.000000
49  B1058      15600.000000
50  B1059      15600.000000
51  B1060      15600.000000
52  B1062       3681.000000

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = "SELECT LandingOutcome, Serial, LaunchSite FROM SPACEXTBL WHERE date LIKE '2015%' AND Class = 0   ;"
df  = pd.read_sql(query, con = engine )
df

  LandingOutcome Serial    LaunchSite
0     False ASDS  B1012  CCSFS SLC 40
1     False ASDS  B1015  CCSFS SLC 40
2      None None  B1016  CCSFS SLC 40
3      None ASDS  B1018  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = "SELECT Date, COUNT(Date) as frecuencia FROM SPACEXTBL WHERE date BETWEEN '2010-06-04' AND  '2017-03-20'  GROUP BY 1  ;"
ejer10  = pd.read_sql(query, con = engine )
ejer10

          Date  frecuencia
0   2010-06-04           1
1   2012-05-22           1
2   2013-03-01           1
3   2013-09-29           1
4   2013-12-03           1
5   2014-01-06           1
6   2014-04-18           1
7   2014-07-14           1
8   2014-08-05           1
9   2014-09-07           1
10  2014-09-21           1
11  2015-01-10           1
12  2015-02-11           1
13  2015-04-14           1
14  2015-04-27           1
15  2015-06-28           1
16  2015-12-22           1
17  2016-01-17           1
18  2016-03-04           1
19  2016-04-08           1
20  2016-05-06           1
21  2016-05-27           1
22  2016-07-18           1
23  2016-08-14           1
24  2016-09-01           1
25  2017-01-14           1
26  2017-02-19           1
27  2017-03-16           1

In [ ]:
query = """SELECT CASE
        WHEN DATE LIKE '2010%' THEN '2010' 
        WHEN DATE LIKE '2011%' THEN '2011'
        WHEN DATE LIKE '2012%' THEN '2012'
        WHEN DATE LIKE '2013%' THEN '2013'
        WHEN DATE LIKE '2014%' THEN '2014'
        WHEN DATE LIKE '2015%' THEN '2015'
        WHEN DATE LIKE '2016%' THEN '2016'
        WHEN DATE LIKE '2017%' THEN '2017'
        END AS 'year',
        COUNT(*) as Frecuencia 
        FROM SPACEXTBL
        GROUP BY 1 
        HAVING year
        ORDER BY 2 DESC;"""
ejer10  = pd.read_sql(query, con = engine )
ejer10

   year  Frecuencia
0  2017          18
1  2016           8
2  2014           6
3  2015           6
4  2013           3
5  2010           1
6  2012           1